/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #003e75;
  }

  .mat-accent .mat-slider-thumb {
    background-color:#003e75;
  }

  .mat-accent .mat-slider-thumb-label {
    background-color:#003e75;
  }
  
  .mat-slider-min-value {
      .mat-slider-thumb-label-showing .mat-slider-thumb {
    background-color: #003e75;
    }
}

  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: #003e75;
    }

    .mat-tab-label {
      color: #003e75;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 100%;
      text-align: center;
  
    }

    // .mat-row:nth-child(even){
    //   background-color: #9FA8DA;
    //   }

      .mat-row:nth-child(odd){
      background-color:#dbddf3;
       }